In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\lemon\py_test\feature_selection\result\rosmap_test_loc.csv')
df.head()

   index
0     75
1     66
2     77
3     64
4     78

In [3]:
df2=pd.read_csv(r'C:\lemon\py_test\feature_selection\result\rosmap_loc.csv')
df2.head()

        probe  Coordinate_36
0  cg05501742          66892
1  cg07395378          67952
2  cg04427860          96056
3  cg00292513         118557
4  cg16624788         140192

In [4]:
df['index_py']=df['index']-1
df.head()

   index  index_py
0     75        74
1     66        65
2     77        76
3     64        63
4     78        77

In [5]:
df2['index_py']=df2.index
df2.head()

        probe  Coordinate_36  index_py
0  cg05501742          66892         0
1  cg07395378          67952         1
2  cg04427860          96056         2
3  cg00292513         118557         3
4  cg16624788         140192         4

In [7]:
res=df2.merge(df,left_on='index_py',right_on='index_py')
res.head()

        probe  Coordinate_36  index_py  index
0  cg14097153         554191        27     28
1  cg03278510         701291        49     50
2  cg13371675         719707        52     53
3  cg20606662         736330        54     55
4  cg02273477         746834        55     56

In [8]:
res.to_csv(r'C:\lemon\py_test\feature_selection\result\rosmap_loc_fin.csv',index=False)

ADNI

In [2]:
df=pd.read_csv(r'C:\lemon\py_test\feature_selection\result\adni_probe_loc.csv')
df.head()

        probe  Coordinate_36
0  cg12326440         318170
1  cg05202032         370955
2  cg16161069         382771
3  cg07511836         412048
4  cg11218048         434238

In [11]:
df2=pd.read_csv(r'C:\lemon\MATLAB_test\sgld\myresult\adni_L1_dst_loc.csv')
df2.head()

   matlab_index
0          1498
1           252
2          1520
3          1532
4          1535

In [12]:
df2['index_py']=df2['matlab_index']-1
df2.head()

   matlab_index  index_py
0          1498      1497
1           252       251
2          1520      1519
3          1532      1531
4          1535      1534

In [13]:
df['index_py']=df.index
df.head()

        probe  Coordinate_36  index_py
0  cg12326440         318170         0
1  cg05202032         370955         1
2  cg16161069         382771         2
3  cg07511836         412048         3
4  cg11218048         434238         4

In [14]:
res=df.merge(df2,left_on='index_py',right_on='index_py')
res.head()

        probe  Coordinate_36  index_py  matlab_index
0  cg16288125         894243        21            22
1  cg23904595        2864692       107           108
2  cg01511534        3224641       121           122
3  cg18933685        4222306       153           154
4  cg02002005        4449308       163           164

In [15]:
res.to_csv(r'C:\lemon\py_test\feature_selection\result\adni_l1_dst_loc_fin.csv',index=False)